<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">

<head>
  <link href="https://gmpg.org/xfn/11" rel="profile">
  <meta charset="utf-8">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

  <!-- No referrer: https://webbkoll.dataskydd.net/en/ -->
  <meta name="referrer" content="no-referrer">

  <title>
    {{ if (eq .Kind "home") }}
    {{ .Site.Title }}
    {{ else if (eq .Kind "taxonomy") }}
    {{ printf "%s ‘%s’ ❚ %s" (.Data.Singular | title) .Data.Term .Site.Title }}
    {{ else }}
    {{ printf "%s ❚ %s" .Title .Site.Title }}
    {{ end }}
  </title>
  {{ with .Site.Params.favicon }}
  {{- . | safeHTML -}}
  {{ end }}

  <!-- Opengraph and Twitter -->
  {{ partial "opengraph.html" . }}
  {{ partial "twitter_cards.html" . }}

  {{ range .Site.Params.custom_css }}
  <link rel="stylesheet" href="{{ . | relURL }}">
  {{ end }}
  {{ block "head" . }}{{ end }}
</head>

<body lang="{{ .Site.Language.Lang }}">

  {{ block "top" . }}

  <div style="float: left;">
    <small>
      {{ printf `<span style="font-variant: small-caps;">.Kind</span> (<strong>%s</strong>):` .Kind | safeHTML }}
      {{ printf `<span style="font-variant: small-caps;">.Type</span> (<strong>%s</strong>) /` .Type | safeHTML }}
      {{ printf `<span style="font-variant: small-caps;">.Layout</span> (<strong>%s</strong>)` .Layout | safeHTML }}

      <br />
      {{ $bundle_type := "n/a" }}
      {{ with .File }}
      {{ if (eq .Path "") }}
      {{ $bundle_type = `n/a (regular "list" page)` }}
      {{ else }}
      {{ if (eq .BaseFileName "_index") }}
      {{ $bundle_type = "branch" }}
      {{ else if (eq .BaseFileName "index") }}
      {{ $bundle_type = "leaf" }}
      {{ else }}
      {{ $bundle_type = "n/a (regular page)" }}
      {{ end }}
      {{ end }}
      {{ end }}
      {{ printf `<span style="font-variant: small-caps;">Bundle</span>: <strong>%s</strong>` $bundle_type | safeHTML }}
    </small>
  </div>

  {{ with .Site.Taxonomies }}
  <div style="float: right;">
    [
    {{ $is_first_key := true }}
    {{ range $key,$val := . }}
    {{ with $.Site.GetPage "taxonomyTerm" $key }}
    {{ printf `%s <a href="%s">%s</a>` (cond $is_first_key "" "|") .Permalink .Type | safeHTML }}
    {{ $is_first_key = false }}
    {{ end }}
    {{ end }}
    {{ with $.Site.GetPage "page" "search" }}
    {{ printf `%s <a href="%s"><strong>%s</strong></a>` "|" .Permalink (.Title | lower) | safeHTML }}
    {{ end }}
    ]
  </div>
  <div style="clear: both;"></div> <!-- Clear floats -->
  {{ end }}

  <div class="masthead-title"><a href="/">{{ .Site.Title }}</a></div>
  <div class="masthead-body">
    {{ with .Site.Params.intro }}
    <p>
      {{- . | safeHTML -}}
    </p>
    {{ end }}
    <hr>
  </div>

  {{ end }}
  <!-- End of "top" block -->

  {{ block "main" . }}{{ end }}

  <hr>

  {{ with .Site.Params.footer }}
  {{- . | safeHTML -}}
  {{ end }}
  {{ block "footer" . }}{{ end }}
</body>

</html>