{{ define "head" }}
<!-- Chroma Github theme CSS -->
<link rel="stylesheet" href="{{ "css/github_chroma.css" | relURL }}" type="text/css" />
{{ end }}

{{ define "main" }}

<div class="site-content">
  <div class="inner">
    <main class="site-main">
      <article class="post">
        <header class="entry-header">
          <div class="entry-header-wrap">
            <div class="post-thumbnail">
              <img src="{{ .Params.image | absURL}}" alt="">
            </div><!-- .post-thumbnail -->
            <h1 class="entry-title"><a href='{{ .Permalink }}' rel="bookmark"
                title="Permanent Link to {{ .Permalink }}"> {{ .Title }}</a></h1>
          </div>
          <div class="entry-meta">
            <span class="post-author">Damian</span> / <time class="published"
              datetime="{{ .Date.Format "2 January 2006" | safeHTML }}">{{ .Date.Format "2 January 2006" | safeHTML }}</time>
          </div><!-- .entry-meta -->
        </header>
        <!-- Entry Content-->
        <div class="entry-content">
          {{if .Params.series}}
          <div>
            <span>Series :</span>
            {{ $seriesUrl := .Params.series | urlize }}
            <a href="{{ " /series/ " | relLangURL }}{{ $seriesUrl }}">{{.Params.series}}</a>
          </div>
          {{end}}
          {{ if .Params.draft }}
          <div class="note warning">
            <h5>Draft Content</h5>
            <p>This Content is Draft!</p>
          </div>
          {{ end }}
          <h6>
            {{ with .Description }}{{ . | markdownify }}{{ else }}{{ partial "summary_minus_toc.html" . | safeHTML }}{{ end }}
          </h6>
          {{ .Content }}
        </div>
        <!-- Entry Content End-->
        <footer class="entry-footer">
          <div class="share-post">
            <span>Share</span>
            {{ partial "social-links" . }}
          </div>
          <div class="tag-links">
            <span>Tags :{{ range $index, $tag := .Params.tags }}<a href="{{$.Site.BaseURL}}/tags/{{ $tag | urlize }}/"
                title="Pages tagged {{ $tag }}" rel="tag">{{$tag}}</a>{{end}}</span>
            <span>Category :{{ range $index, $tag := .Params.categories }}<a
                href="{{$.Site.BaseURL}}/categories/{{ $tag | urlize }}/" title="Pages category {{ $tag }}"
                rel="tag">{{$tag}}</a> {{end}}</span>
          </div>
        </footer>
      </article>
      <div class="author-box">
        <div class="author-info">
          <div class="author-avatar" style="background-image: url({{ .Site.Author.image }})">
            <span class="screen-reader-text">{{ .Site.Author.name }}'s Picture</span>
          </div>
          <div class="author-details">
            <h2 class="author-title">About {{ .Site.Author.name }}</h2>
            <p class="author-bio">{{ .Site.Author.bio }}</p>
            <span class="author-location"><i class="fa-map-marker" aria-hidden="true"></i>
              {{ .Site.Author.location }}</span>
            <span class="author-website"><i class="fa-chain" aria-hidden="true"></i> <a href="{{ .Site.Author.url }}"
                target="_blank"> {{ .Site.Author.url }}</a></span>
          </div><!-- .author-details -->
        </div><!-- .author-info -->
      </div><!-- .author-box -->
      <nav class="post-navigation">
        <h2 class="screen-reader-text">Post navigation</h2>
        {{with .PrevInSection}}
        <div class="nav-previous">
          <div class="nav-inside">

            <a href="{{ .Permalink }}" class="nav-thumb"
              style="background-image: url({{ .Params.image | absURL }})"></a>

            <div class="nav-before">Previous</div>
            <div class="nav-title"><a href="{{ .Permalink }}">{{.Title}}</a></div>
            <div class="nav-date">{{.Date.Format "2 January 2006" | safeHTML}}</div>
          </div><!-- .nav-inside -->
        </div><!-- .nav-previous -->
        {{ end }}
        {{with .NextInSection}}
        <div class="nav-next">
          <div class="nav-inside">
            <a href="{{ .Permalink }}" class="nav-thumb"
              style="background-image: url({{ .Params.image | absURL }})"></a>

            <div class="nav-before">Next</div>
            <div class="nav-title"><a href="{{ .Permalink}}">{{.Title}}</a></div>
            <div class="nav-date">{{.Date.Format "2 January 2006" | safeHTML}}</div>
          </div><!-- .nav-inside -->
        </div><!-- .nav-next -->
        {{end}}
      </nav><!-- .post-navigation -->
    </main>
    {{ partial "page-sidebar" . }}
  </div>
</div>


{{ if (not ($.Param "disable_debug")) }}
<hr />
<!-- Taxonomy debug -->
{{ $page := . }}
{{ with .Site.Taxonomies }}
{{ range $key,$_ := . }}
{{ with $page.Param $key }}
{{ $val := . }}
<p>
  {{ printf `<span style="font-variant: small-caps;">%s</span>:` $key | safeHTML }}
  {{ with $.Site.GetPage "taxonomyTerm" $key }}
  {{ $taxonomy_page := . }}
  {{ range $val }}
  <a href="{{ printf "%s%s" $taxonomy_page.Permalink (. | urlize) }}">{{ . }}</a>
  {{ end }}
  {{ end }}
</p>
{{ end }}
{{ end }}
{{ end }}

{{ with .Resources }}
<hr />
<h3 id="resources">Resources</h3>
<ul>
  {{ range . }}
  {{ if .RelPermalink }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{ else }}
  <li>{{ .ResourceType | title }} (no link, only embedded in page)</li>
  {{ end }}
  {{ end }}
</ul>
{{ end }}

{{ with .Resources.ByType "page" }}
<hr />
<h3 id="sub-pages">Bundled Sub-pages</h3>
{{ range . }}
<h4>{{ .Title }}</h4>
{{ .Content }}
{{ end }}
{{ end }}

<hr />
<a id="debug"></a>
<h3 id="page-debug">Page (Debug)</h3>
{{ partial "debugprint.html" . }}
<h3 id="page-params-debug">Page Params (Debug)</h3>
{{ partial "debugprint.html" .Params }}
{{ with .Resources }}
<h3 id="resource-debug">Resources (Debug)</h3>
{{ partial "debugprint.html" . }}
{{ end }}
<h3 id="file-debug">File Object (Debug)</h3>
{{ partial "debugprint.html" .File }}
{{ end }}

{{ end }}