<div class="social-links">
    {{with .Site.Social.linkedin_username}}<a href="https://www.linkedin.com/in/{{.}}" target="_blank" rel="noopener"
        class="fa-linkedin square fill-horizontal"><span class="screen-reader-text">LinkedIn</span></a>{{end}}
    {{with .Site.Social.twitter_username}}<a href="https://twitter.com/{{.}}" target="_blank" rel="noopener"
            class="fa-twitter square fill-horizontal"><span class="screen-reader-text">Twitter</span></a>{{end}}
    {{with .Site.Social.github_username}}<a href="https://github.com/{{.}}" target="_blank" rel="noopener"
            class="fa-github-alt square fill-horizontal"><span class="screen-reader-text">Github</span></a>{{end}}
    {{with .Site.Social.facebook_username}}<a href="https://www.facebook.com/{{.}}" target="_blank" rel="noopener"
            class="fa-facebook square fill-horizontal"><span class="screen-reader-text">Facebook</span></a>
    {{end}}
    <a class="fa-feed square fill-horizontal" href="/index.xml"><span class="screen-reader-text">RSS</span></a>
</div>